{% load static %}
<section style="margin-top:1%;margin-right:20%;margin-left:20%;margin-bottom: 1%">
    <div style="text-align: center"><h3>Best Selling Book</h3></div>
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="{% static '/images/image1.JPG' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Brostan</h5>
            <div class="rating text-warning font-size-12">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
            </div>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static '/images/Image2.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">The King of durgs</h5>
            <div class="rating text-warning font-size-12">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
            </div>
            <!-- <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p> -->
          </div>
          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
        </div>
        <div class="card">
          <img class="card-img-top" src="{% static '/images/image1.JPG' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Brostan</h5>
            <div class="rating text-warning font-size-12">
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="fas fa-star"></i></span>
                <span><i class="far fa-star"></i></span>
            </div>
            <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
          </div>
          <!-- <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div> -->
        </div>
        
        <div class="card">
            <img class="card-img-top" src="{% static '/images/Image.jpg' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Business Design</h5>
              <div class="rating text-warning font-size-12">
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="fas fa-star"></i></span>
                  <span><i class="far fa-star"></i></span>
                </div>
              <!-- <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p> -->
            </div>
            <!-- <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
          </div>


      </div>
</section>
