{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Store</title>
    <link rel="stylesheet" href="{% static '/bootstrap/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    
</head>
<section>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Book</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Books <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">New Arrivals</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="#">Pre-Order</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">Bestsellers</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">TextBooks</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="#">Award Winners</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="{% url 'search' %}">Featured Author</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" style="margin-right: 30%;">
              
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              
              </form>
            <a class="btn btn-outline-success mr-sm-2" href="{% url 'login_attempt' %}">SignIn</a>
            <a class="btn btn-outline-success mr-sm-2" href="{% url 'register_attempt' %}">SignUp</a>
          </div>
        </nav>
  </div>

  </section>
  